body {
  background-image: url("https://s3.amazonaws.com/webassets.ticketmob.com/LS/images/ShowPosters/C3E572D2-CAEC-54A5-826967D462E6DCBA.jpg");
  background-repeat: repeat;
  color: white;
  font-family: "Comic Sans MS", cursive, sans-serif;
}

.foody {
  float: left;
}